.brands{
    /* border: 2px solid red; */
    width: 100%;
    height: 40vh;
    background-color: white;
}
.brands .top{
    width: 100%;
    /* border: 2px solid ; */
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 8rem;
    padding-top: 1.5rem;
    color: rgba(0, 0, 0, 0.829);
    font-size: 1.1rem;
}
.brands .down{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8rem;
  }
  .brands .down img{
    width: 85%;
  }
  @media only screen and (max-width: 430px){
    .brands{
        width : 400px;
    }
    .brands .top{
        padding-left: .5rem;
    }
    .brands .top h2{
        font-size: 1.1rem;
    }
    .brands .down img{
        width: 90%;
        height: 15%;
      }
      .brands .down{
        padding-left: 1rem;
      }
  }