.empty{
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/neopop-image-mock.png);
    height: 80vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 430px){
   .empty{
    /* display: none; */
     background-size: 100% 100%;
     height: 100vh;
   }
}